/*-----------------------------------------------

  Reset

-----------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.site-header:after, .site-header-inner:after {
  content: "";
  clear: both;
  display: block;
}

/*-----------------------------------------------

  Typography

  See article by John w. Long on modular css typography
  http://thesassway.com/advanced/modular-css-typography 

-----------------------------------------------*/
.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2, .h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4, .h5, .typography h5, .typography .h5, .h6, .typography h6, .typography .h6 {
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 700;
}

.h1, .typography h1, .typography .h1, .h2, .typography h2, .typography .h2 {
  line-height: 1.2;
}

.h3, .typography h3, .typography .h3, .h4, .typography h4, .typography .h4 {
  line-height: 1.3;
}

.h1, .typography h1, .typography .h1 {
  font-size: 320%;
  letter-spacing: -2px;
}

.h2, .typography h2, .typography .h2 {
  font-size: 240%;
  letter-spacing: -1px;
}

.h3, .typography h3, .typography .h3 {
  font-size: 200%;
}

.h4, .typography h4, .typography .h4 {
  font-size: 180%;
}

.h5, .typography h5, .typography .h5 {
  font-size: 130%;
}

.quiet {
  color: #546fa8;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}

.typography h1, .typography h1, .typography .h1 {
  margin: 0 0 0.5em;
}
.typography h2, .typography h2, .typography .h2 {
  margin: 0 0 0.5em;
}
.typography h3, .typography h3, .typography .h3 {
  margin: 0 0 0.5em;
}
.typography h4, .typography h4, .typography .h4 {
  margin: 0 0 0.5em;
}
.typography h5, .typography h5, .typography .h5 {
  margin: 0 0 0.5em;
}
.typography h6, .typography h6, .typography .h6 {
  margin: 0 0 0.5em;
}

/*-----------------------------------------------

  Base styles

-----------------------------------------------*/
body {
  font-size: 120%;
  font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  color: #324264;
  background-color: #f8f8f1;
}
@media screen and (max-width: 50em) {
  body {
    font-size: 100%;
  }
}
@media screen and (max-width: 40.063em) {
  body {
    font-size: 90%;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: #324264;
}

a {
  color: #e06c6c;
  text-decoration: none;
}
a:hover {
  color: #d32d2d;
}

p {
  margin-bottom: 1.5em;
}

.site-wrapper {
  overflow: hidden;
}

.row {
  max-width: 1080px;
}

.lighten {
  color: #546fa8;
}

.bold {
  font-weight: 700;
  color: #324264;
}

/*--------------------------------------------

  Start header and off-canvas nav

--------------------------------------------*/
.site-header {
  padding: .75em 0 .5em 0;
  background-color: #324264;
}
.site-header a {
  color: #f8f8f1;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.site-header a:hover {
  color: #e06c6c;
}

.site-header-inner {
  display: block;
  max-width: 1080px;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
}

.logo {
  float: left;
}
.logo h1 {
  line-height: 0;
}
.logo a {
  display: inline-block;
  padding-top: 1.25em;
}

#content {
  clear: both;
}

ul.menu {
  padding: 0;
  float: right;
}
ul.menu li {
  list-style-type: none;
  float: left;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Fixes Firefox bug */
  box-sizing: border-box;
}
ul.menu li a {
  display: inline-block;
  padding: .5em;
}
ul.menu li a:hover {
  color: #e06c6c;
}
ul.menu li i {
  display: none;
}

/*--------------------------------------------

  Current nav states

--------------------------------------------*/
.home-page .home-nav {
  color: #e06c6c;
}

.archive-page .archive-nav {
  color: #e06c6c;
}

/*--------------------------------------------

  Hamburger icons

--------------------------------------------*/
a.open-panel, a.close-panel {
  display: none;
}

a.open-panel {
  padding-top: .5em;
}

i.fa-bars {
  color: #f8f8f1;
  font-size: 2em;
}

.fa-times-circle {
  color: #e06c6c;
  font-size: 2em;
}

.close-panel .fa {
  padding-top: .25em;
}

#menu nav ul li a i.fa {
  display: block;
  margin-right: .5em;
  color: #546fa8;
}

@media only screen and (max-width: 50em) {
  #content {
    padding-top: 0;
  }

  .logo {
    padding-top: .35em;
    float: left;
  }

  /* Move nav off screen, setup transitions */
  .main-nav nav {
    width: 70%;
    position: absolute;
    left: -70%;
    top: 0;
    height: 100%;
    background: #283550;
  }

  /* Display nav items vertically */
  ul.menu {
    float: none;
    margin-top: 1.5em;
    border-top: 1px solid #324264;
  }
  ul.menu li {
    float: none;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    border-bottom: 1px solid #324264;
  }
  ul.menu li a {
    display: block;
    padding: 1.5em;
  }
  ul.menu li i {
    display: inline;
  }

  /* Reveal open/close buttons */
  a.open-panel, a.close-panel {
    display: inline;
  }

  .open-panel {
    float: left;
    margin-right: 2em;
  }

  .close-panel {
    position: relative;
    top: .5em;
    left: 1em;
  }

  .openNav #page {
    left: 0;
    -webkit-transform: translate3d(70%, 0, 0);
    -moz-transform: translate3d(70%, 0, 0);
    -ms-transform: translate3d(70%, 0, 0);
    -o-transform: translate3d(70%, 0, 0);
    transform: translate3d(70%, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
  }

  /* When the panel is closed, transition the page back to the left */
  #page {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
  }
}
.intro {
  padding: 2em 0 5em 0;
  background-color: #324264;
  color: #f8f8f1;
  line-height: 1.2;
}
.intro h1 {
  font-size: 3em;
  font-weight: 700;
  color: #e06c6c;
}
.intro p {
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 300;
}

.text-center {
  text-align: center;
}

@media screen and (max-width: 40.063em) {
  .intro {
    padding: .65em 0 2.5em 0;
  }
}
.recipe-list {
  padding: 3em 0 5em 0;
}
.recipe-list h2 {
  padding: 0 0 .35em 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: .04em;
  color: #546fa8;
  border-bottom: 1px solid #dbe1ed;
}
.recipe-list h3 {
  font-size: 2em;
  font-weight: 700;
  letter-spacing: -.025em;
}
.recipe-list h3 a {
  color: #324264;
  text-decoration: none;
  -webkit-transition: all 0.17s ease;
  -moz-transition: all 0.17s ease;
  -ms-transition: all 0.17s ease;
  -o-transition: all 0.17s ease;
  transition: all 0.17s ease;
}
.recipe-list h3 a:hover {
  color: #e06c6c;
}
.recipe-list ul li {
  padding: 1.25em 0 .875em 0;
  border-bottom: 1px solid #dbe1ed;
}

.description p {
  margin-bottom: .5em;
  color: #546fa8;
}

.category-meta {
  font-size: .8125em;
  color: #546fa8;
}

.category-link {
  color: #324264;
  font-weight: 700;
}

.post-page {
  margin-bottom: 3em;
}
.post-page h1 {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: -.025em;
}
.post-page h2 {
  margin: 1em 0 .5em 0;
  font-size: 1.75em;
  font-weight: 700;
}
.post-page h3 {
  margin: 1em 0 .5em 0;
  font-size: 1.25em;
  font-weight: 700;
}
.post-page ul {
  margin-left: 1.1em;
  list-style-type: disc;
}
.post-page ul li {
  margin-bottom: .5em;
}
.post-page ol {
  margin-left: 1.1em;
  list-style-type: decimal;
}
.post-page ol li {
  padding: 1em 0;
}
.post-page ol li:first-child {
  padding-top: 0;
}
.post-page strong {
  font-weight: 700;
}
.post-page em {
  font-style: italic;
}

.post-header {
  padding-top: 2em;
}

.post-description {
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 1.2;
}

.time {
  float: left;
  margin-right: 1em;
}
.time p {
  margin-bottom: 0;
  color: #546fa8;
}

i.fa-chevron-left {
  margin-right: 1em;
  color: #e06c6c;
}

i.fa-chevron-right {
  margin-left: 1em;
  color: #e06c6c;
}

@media screen and (max-width: 50em) {
  .post-header {
    padding-top: 1em;
  }

  .post-description p {
    margin-bottom: 0;
  }
}
.archive h2 {
  border-bottom: none;
}
.archive h3 {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0;
  line-height: 1;
}
.archive ul li:first-child {
  padding-top: 0;
}
.archive ul li:last-child {
  margin-bottom: 3em;
}

/*-----------------------------------------------

	Footer

-----------------------------------------------*/
.site-footer {
  padding: 1.25em 0;
  background-color: #f3f3e7;
}

.footer-nav {
  font-size: .8125em;
  color: #546fa8;
}
.footer-nav ul li {
  float: left;
  margin-right: 1em;
}
.footer-nav ul li a {
  color: #324264;
  text-decoration: none;
}
.footer-nav ul li a:hover {
  color: #758bba;
  text-decoration: underline;
}

@media screen and (max-width: 50em) {
  .footer-nav {
    float: none;
  }
  .footer-nav ul li {
    float: none;
    margin-right: 0;
  }
  .footer-nav ul li a {
    display: block;
    padding: 1em 0;
  }
}
