<footer class="site-footer">
  <p class="site-footer__description">{{ site.description }}</p>
  <ul class="site-footer__links">
  {% for item in site.nav %}
    <li><a href="{{ item.url }}">{{ item.text }}</a></li>
  {% endfor %}
  </ul>
</footer>