<header class="site-header">
  <a href="/" class="site-header__logo">
    {% include "logo.svg" %}
    <span class="sr-only">{{ site.title }}</span>
  </a>
  <nav class="site-main-nav">
    <ul>
    {% for item in site.nav %}
    <li>
      <a href="{{ item.url }}">{{ item.text }}</a>
    </li>
    {% endfor %}
    </ul>
  </nav>
</header>