<header class="site-header">
  <a href="/" class="site-logo">
    <span class="site-logo__icon">
      {% include "logo.svg" %}
    </span>
    <span class="site-logo__title [ sr-only ]">{{ site.title }}</span>
  </a>
</header>