{% macro recipeTeaser(params) %}
<article class="teaser">
  <h1 class="teaser__title"><a href="{{ params.url }}">{{ params.title }}</a></h1>
  <p class="teaser__text">{{ params.description }}</p>
  <ul class="teaser__tags plain-list">
  {% for tag in params.tags %}
  {% if tag != 'recipes' %}<li>{{ tag | capitalize }}</li>{% endif %}
  {% endfor %}
  </ul>
</article>
{% endmacro %}