{% macro recipeHeader(params) %}
<header class="recipe-header">
  <div class="recipe-header__body">
    <h1 class="recipe-header__title">{{ params.title }}</h1>
    <p class="recipe-header__description">{{ params.description }}</p>
  </div>
  {% if params.illo %}
  <div class="recipe-header__illo">
    <img src="/img/{{ params.illo }}" alt="Line drawing of the ingredients for {{ params.title }}">
  </div>
  {% endif %}
</header>
{% endmacro %}