      <footer class="site-footer">
        <div class="row">
          <div class="medium-12 columns">
            <nav class="footer-nav">
              <ul>
                <li><a href="http://www.levimcg.com">&copy;Levi McGranahan</a></li>
                <li><a href="http://www.twitter.com/levimcg" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="http://www.instagram.com/levimcg" target="_blank"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://github.com/levimcg/recipe-book/tree/gh-pages" target="_blank"><i class="fa fa-github"></i></a></li>
              </ul>
            </nav>
          </div>
        </div>
      </footer>

    </div><!-- content div -->
  </div><!-- page div -->
</div><!-- site-wrapper div -->