<div class="site-header">
  <header>
    <div class="row">
      <div class="large-6 columns">
        <div class="logo">
          <!-- <a href="{{ site.baseurl }}"><img src="img/logo.png"></a> -->
          <h1><a href="{{ site.baseurl }}/">Recipe Box</a></h1>
        </div>
      </div>
      <div class="large-6 columns">
        <nav class="main-nav">
          <ul>
            <li><a href="{{ site.baseurl }}/">Categories</a></li>
            <li><a href="{{ site.baseurl }}/all-recipes.html">All recipies</a></li>
            <!-- <li><a href="{{ site.baseurl }}/">About</a></li> -->
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>