@use "../core/tokens" as *;

html,
body {
  height: 100%
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: $font-serif;
  line-height: 1.55;
  font-size: var(--size-100);
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: $font-sans;
  line-height: 1.2;
}

h1 {
  font-weight: 900;
}

h1 {
  font-size: var(--size-400);
}

h2,
h3 {
  font-size: var(--size-200);
}

h4 {
  font-size: var(--100);
}

img {
  display: block;
  width: 100%;
  max-width: inherit;
}

figcaption {
  font-size: var(--size-100);
  font-style: italic;
  margin-top: 1rem;
}

blockquote {
  padding-left: var(--size-600);
  border-left: 5px solid;
  font-style: italic;
}

hr {
  height: 1px;
  border: none;
  background-color: var(--color-ruler);
}

time {
  display: inline-block;
  font-size: var(--size-100);
}

@media (min-width: 46rem) {
  h1 {
    font-size: var(--size-600);
  }
  
  h2,
  h3 {
    font-size: var(--size-300);
  }
  
  p,
  ul,
  ol,
  time {
    font-size: var(--size-200);
  }
}