$sizes: (
  "000": ".75rem",
  "100": "1rem",
  "200": "1.333rem",
  "300": "1.777rem",
  "400": "2.369rem",
  "500": "3.157rem",
  "600": "4.209rem",
  "700": "5.61rem",
  "800": "9.969rem"
);

$font-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$font-serif: 'Georgia', serif;

$breakpoint-1: 46rem;