{% extends 'layouts/base.njk' %}

{% block main %}
  <div class="post">
    <div class="flow p-y-500">      
      <h1>{{ title }}</h1>
      <p>{{ description }}</p>
      <time>{{ date | dateFormatted }}</time>
    </div>
    <div class="post__content [ flow p-y-400 ]">
      <h2>Ingredients</h2>
      <ul>
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
      {{ content | safe }}
    </div>
  </div>
{% endblock %}