{% extends 'layouts/base.njk' %}
{% from 'recipe-header.njk' import recipeHeader %}

{% block main %}
  <article class="recipe-layout">
    {{-
      recipeHeader({
        title: title,
        description: description,
        illo: illo
      })
    -}}
    {% include "recipe-sidebar.njk" %}
    <div class="recipe-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}