{% extends 'layouts/base.njk' %}
{% from 'recipe-header.njk' import recipeHeader %}

{% block main %}
  <article class="recipe-layout">
    {{-
      recipeHeader({
        title: title,
        description: description,
        illo: illo
      })
    -}}
    <div class="recipe-meta">
      <h2 class="recipe-label">Ingredients</h2>
      <ul class="recipe-ingredients">
        {% for ingredient in ingredients %}
        <li>{{ ingredient }}</li>
        {% endfor %}
      </ul>
      <dl>
        <dt class="recipe-label">Prep time</dt>
        <dd>{{ prep }}</dd>
        <dt class="recipe-label">Cook time</dt>
        <dd>{{ cook }}</dd>
        {% if tags.length > 1 %}
          <dt class="recipe-label">Tags</dt>
          {% for tag in tags %}
          {% if tag != 'recipes' %}<dd>{{ tag | capitalize }}</dd>{% endif %}
          {% endfor %}
        {% endif %}
      </dl>
    </div>
    <div class="recipe-content">
      {{ content | safe }}
    </div>
  </article>
{% endblock %}