$base-font-size: 18px;
$base-font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$base-font-weight: 400;

$heading-font-family: "proxima-nova", "Helvetica Neue", "Helvetica", Arial, sans-serif;
$heading-font-weight: 700;

$color-background: #f8f8f1;
$color-link: #2b48ff;
$color-brand-primary: #324264;
$color-brand-secondary: #f85d5d;
$color-brand-third: #52ddaa;
$color-quiet: lighten($color-brand-primary, 35%);

$bold-font-weight: 700;

$site-max-width: 1080px;

$break-point-small: 500px;
$break-point-medium: 800px;
$break-point-large: 1080px;