* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

@media screen and (min-width: 900px) {
  html {
    font-size: 115%;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  line-height: 1.5;
  margin: 0;
  padding: 0;
  
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: top right;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-serif);
  font-weight: 700;
}

h1 {
  font-size: var(--s5)
}

h2 {
  font-size: var(--s4);
}

h3 {
  font-size: var(--s3);
}

h4 {
  font-size: var(--s2);
}

h5 {
  font-size: var(--s1);
}

h6 {
  font-size: var(--s0);
}

img {
  width: 100%;
  display: block;
}