.site-footer {
  display: flex;
  align-items: center;
  max-width: 1140px;
  margin: 0 auto;
  padding: var(--s4) var(--s2);
}

.site-footer__links {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.site-footer__links a {
  color: var(--color-text);
  text-decoration: none;
}

.site-footer__links li:not(:first-child) {
  margin-left: var(--s2);
}