.site-header {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: var(--s3) var(--s1);
}

.site-header__logo {
  color: var(--color-text);
}

.site-header__logo:hover {
  color: var(--color-accent);
}

.site-header__logo svg {
  width: 48px;
  height: 48px;
}

.site-main-nav {
  margin-left: auto;
}

.site-main-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.site-main-nav ul li:not(:first-child) {
  margin-left: var(--s1);
}

.site-main-nav a {
  text-decoration: none;
  color: var(--color-text);
}

.site-main-nav a:hover {
  text-decoration: underline;
}