.wrapper {
  max-width: 50rem;
  padding: var(--s1);
  margin: 0 auto;
}

.recipe-layout {
  padding: 0 var(--s1);
}

@media screen and (min-width: 740px) {
  .recipe-layout {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 340px 1fr;
    grid-column-gap: var(--s5);
    grid-row-gap: calc(var(--s5) * 1.5);
  }
}