.recipe-meta dl {
  margin-top: var(--s3);
}

.recipe-meta dt:not(:first-child) {
  margin-top: var(--s2);
}

.recipe-meta dd {
  margin: 0;
  font-size: var(--s-1);
}

.recipe-label {
  font-weight: 700;
  font-size: var(--s-1);
  font-family: var(--font-sans);
  text-transform: uppercase;
  letter-spacing: .05rem;
}

.recipe-ingredients {
  padding: 0;
  list-style: none;
}

.recipe-ingredients li {
  position: relative;
  padding-left: 1rem;
  font-size: var(--s-1);
}

.recipe-ingredients li:not(:first-child) {
  margin-top: calc(var(--s0) * .75);
}

.recipe-ingredients li::before {
  display: block;
  position: absolute;
  top: .5rem;
  left: 0;
  margin-right: .75rem;
  border-radius: 999rem;
  content: "";
  width: .35rem;
  height: .35rem;
  background-color: var(--color-ruler);
}