.recipe-content > * + * {
  margin-top: 1.5rem;
}

.recipe-content h2,
.recipe-content h3,
.recipe-content h4,
.recipe-content h5,
.recipe-content h6 {
  font-size: var(--s2);
}

.recipe-content a {
  color: var(--color-accent);
}

.recipe-content h2:first-of-type {
  margin-top: 0;
}

.recipe-content ol {
  padding-left: 1rem;
}

.recipe-content ol li {
  margin-top: 1.5rem;
}