.teaser__title {
  margin-bottom: 0;
  line-height: 1.1;
  font-size: var(--s3);
}

.teaser__title a {
  text-decoration: none;
  color: var(--color-text);
}

.teaser__title a:hover {
  text-decoration: underline;
}

.teaser__text {
  margin-top: .5rem;
  margin-bottom: 0;
  font-size: var(--s1);
}

.teaser__tags {
  display: flex;
  margin-top: .25rem;
}

.teaser__tags li{
  color: var(--color-accent);
}

.teaser__tags li:not(:first-child) {
  margin-left: 1rem;
  color: var(--color-accent);
}