.post-page {
  margin-bottom: 3em;

    h1 {
      font-size: 3em;
      font-weight: 700;
      letter-spacing: -.025em;
    }

    h2 {
      margin: 1em 0 .5em 0;
      font-size: 1.75em;
      font-weight: 700;
    }

    h3 {
      margin: 1em 0 .5em 0;
      font-size: 1.25em;
      font-weight: 700;
    }

    ul {
      margin-left: 1.1em;
      list-style-type: disc;

        li {
          margin-bottom: .5em;
        }
    }

    ol {
      margin-left: 1.1em;
      list-style-type: decimal;

        li {
          padding: 1em 0;

            &:first-child {
              padding-top: 0;
            }
        }
    }

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }
}

.post-header {
  padding-top: 2em;
}

.post-description {
  margin-bottom: 1em;
  font-size: 2em;
  line-height: 1.2;
}

.time {
  float: left;
  margin-right: 1em;

    p {
      margin-bottom: 0;
      color: $color-quiet;
    }
}

i.fa-chevron-left {
  margin-right: 1em;
  color: $color-brand-secondary;
}

i.fa-chevron-right {
  margin-left: 1em;
  color: $color-brand-secondary;
}

@include responsive(50em) {
  .post-header {
    padding-top: 1em;
  }

  .post-description {
    p {
      margin-bottom: 0;
    }
  }
}
