.post-page {
  margin-bottom: 3em;
  padding-top: 1.5em;
}

.post-header {
  padding-top: 2em;

    h1 {
      margin-bottom: .5em;
      font-size: 3em;
      font-weight: 700;
      letter-spacing: -.05em;
      line-height: 1.2;
    }

    .post-description {
      font-weight: 300;
      letter-spacing: -.025em;
    }
}

.post-description {
  p {
    margin-bottom: 0;
    font-size: 2em;
    line-height: 1.2;
  }
}

.time {
  float: left;
  margin-right: 1em;

    p {
      margin-bottom: 0;
      color: $color-quiet;
    }
}

i.fa-chevron-left {
  margin-right: 1em;
  color: $color-brand-secondary;
}

i.fa-chevron-right {
  margin-left: 1em;
  color: $color-brand-secondary;
}

@include responsive(50em) {

  .post-page {
    h1 {
      line-height: 1;
    }
  }

  .post-header {
    padding-top: 1em;
  }

  .post-description {
    p {
      margin-bottom: 0;
    }
  }
}
