.post-page {
  margin-bottom: 3em;
  padding-top: 1.5em;
}

.post-header {
  padding-top: 1em;

    h1 {
      margin-bottom: .5em;
      font-size: 3em;
      font-weight: 700;
      line-height: 1.2;
    }

    .post-description {
      font-weight: 300;
      letter-spacing: -.025em;
    }
}

.post-description {
  p {
    font-family: $heading-font-family;
    margin-bottom: 0;
    font-size: 2em;
    line-height: 1.2;
  }
}

.overview {
  margin-bottom: 3em;
}

.post-meta {
  font-family: $heading-font-family;

    ul {
      list-style-type: none;
      margin: 0;

        li {
          font-size: .8125em;
          margin: 0;
          line-height: 2;

            span {
              font-weight: 700;
              color: $color-brand-secondary;
            }
        }
    }

}

.article-content h2:first-of-type {
  margin-top: 0;
}

i.fa-chevron-left {
  margin-right: 1em;
  color: $color-brand-secondary;
}

i.fa-chevron-right {
  margin-left: 1em;
  color: $color-brand-secondary;
}

@include responsive(50em) {

  .post-page {
    h1 {
      line-height: 1;
    }
  }

  .post-header {
    padding-top: 1em;
  }

  .post-description {
    p {
      margin-bottom: 0;
    }
  }
}
