/*-----------------------------------------------

  Base styles

-----------------------------------------------*/

body {
  font-size: 120%;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: 1.5;
  color: $color-brand-primary;
  background-color: $color-background;

    @include responsive(40.063em) {
      font-size: 100%;
    }
}

a {
  color: $color-link;
  text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
}

p {
  margin-bottom: 1.5em;
}

.wrapper {
  max-width: $site-max-width;
  margin: 0 auto;
}