/*-----------------------------------------------

  Base styles

-----------------------------------------------*/

body {
  font-size: 20px;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  font-style: normal;
  line-height: 1.5;
  color: $color-brand-primary;
  background-color: $color-background;

    @include responsive(50em){
      font-size: 18px;
    }

    @include responsive(40.063em) {
      font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
  color: $color-brand-primary;
  font-family: $heading-font-family;
}

a {
  color: $color-brand-secondary;
  text-decoration: none;

    &:hover {
      color: darken($color-brand-secondary, 15%);
    }
}

p {
  margin-bottom: 1.5em;
}

strong {
  font-weight: 700;
}

.site-wrapper {
  overflow: hidden;
}

.row {
  max-width: $site-max-width;
}

.lighten {
  color: $color-quiet;
}

.bold {
  font-weight: 700;
  color: $color-brand-primary;
}