/*-----------------------------------------------

	Footer

-----------------------------------------------*/

.site-footer {
  padding: 1.25em 0;
  background-color: darken($color-background, 3%);
}

.footer-nav {
  font-size: .8125em;
  color: $color-quiet;

    ul li {
      float: left;
      margin-right: 1em;

        a {
          color: $color-brand-primary;
          text-decoration: none;

            &:hover {
              color: lighten($color-brand-primary, 30%);
              text-decoration: underline;
            }
        }
    }
}

@include responsive(50em) {
  .footer-nav {
    float: none;

    ul li {
      float: none;
      margin-right: 0;

      a {
        display: block;
        padding: 1em 0;
      }
    }
  }

} 


