/*-----------------------------------------------

	Footer

-----------------------------------------------*/

.site-footer {
  padding: 1.25em 0;
  background-color: darken($color-background, 3%);
}

.footer-nav {
  font-size: .8125em;
  color: $color-quiet;
  float: right;

    ul li {
      float: left;
      margin-right: 1em;

        a {
          color: $color-brand-secondary;
          text-decoration: none;

            &:hover {
              color: lighten($color-brand-primary, 30%);
              text-decoration: underline;
            }
        }
    }
}