/*-----------------------------------------------

  Header

-----------------------------------------------*/

.site-header {
  padding: 1em 0;
  background-color: $color-brand-primary;
  font-weight: 300;

    a {
      color: lighten($color-brand-primary, 50%);
      text-decoration: none;
        
        @include hover-trans(.2s);

        &:hover {
          color: $color-brand-secondary;
        }
    }
}

.logo {

    a {
      font-weight: 700;
      font-size: 1.125em;
    }
}

.main-nav {
  text-align: right;

    ul li {
      display: inline-block;
      margin-right: 1em;

        &:last-child {
          margin-right: 0;
        }

      a {
        display: inline-block;
        text-decoration: none;
      }
    }
}