/*-----------------------------------------------

  Header

-----------------------------------------------*/

.site-header {
  padding: 1.5em 0;
}

.logo {
  width: 15%;
}

.main-nav {
  text-align: right;
}