.intro {  
  padding: 2em 0 5em 0;
  background-color: $color-brand-primary;
  color: $color-background;
  line-height: 1.2;

    h1 {
      font-size: 3em;
      font-weight: 700;
      color: $color-brand-secondary;
    }

    p {
      margin-bottom: 0;
      font-size: 2.25em;
      font-weight: 300;
    }
}

.text-center {
  text-align: center;
}

@include responsive(40.063em) {
  .intro {
    padding: .65em 0 2.5em 0;
    text-align: center;
  }
}