// Archive list styles

.archive .recipe-list {
  padding-bottom: 0;

  h2 {
    border-bottom: none;
    text-transform: uppercase;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 700;
    margin: 0 0 .3em;
    line-height: 1;
  }

  ul li {

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      margin-bottom: 3em;
    }

    p {
      margin-bottom: 0;
      color: $color-quiet;
    }
  }
}

.archive-meta {

    span {
      display: block;
    }
}

.post-date, .post-category {
  font-size: .8em;
}

.post-date {
  color: $color-quiet;
}

.post-category {
  color: $color-brand-secondary;
  font-weight: 700;
}

