---
layout: default
---

<div class="post-page">
  <header class="post-header">
    <div class="row">
      <div class="large-10 medium-10 medium-centered columns">
        <h1>{{ page.title }}</h1>
        <div class="post-description">
          <p>{{ page.description }}</p>
        </div>
      </div>
    </div>
  </header>
  <section class="content">
    <article>
      <div class="row">
        <div class="large-7 medium-10 medium-centered columns">
          <div class="time-wrapper">
            <div class="time">
              <p>Prep time: <span class="bold">{{ page.prep }}</span></p>
            </div>
            <div class="time">
              <p>Cook time: <span class="bold">{{ page.cook }}</span></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="large-7 medium-10 medium-centered columns">
          {{ content }}
          {% include article-nav.html %}
        </div>
      </div>
    </article>
  </section>
</div>
