---
title: Home
---
{% extends 'layouts/base.njk' %}

{% block main %}
  <ul>
  {% for recipe in collections.recipes | reverse %}
    <li><a href="{{ recipe.url }}">{{ recipe.data.title }}</a></li>
  {% endfor %}
  </ul>
{% endblock main %}