@use './core/tokens' as *;
@use "./core/variables" as *;
@use "modern-css-reset/dist/reset.css";
@use "./base";
@use "./utilities/space";
@use "./utilities/visibility";
@use "./utilities/flow";
@use "./components/post";
@use "./components/site-logo";
@use "./components/site-header";
@use "./components/site-footer";

.font-sans {
  font-family: $font-sans;
}

.tag {
  font-family: $font-sans;
  display: inline-flex;
  padding: .25rem .5rem;
  border: 2px solid var(--color-ruler);
  border-radius: .5rem;
  margin-left: var(--size-100);
}


